:root {
  /* --main-bg-color: rgba(161, 119, 95, 0.5); */
  --main-bg-color: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  /* --main-bg-color: rgba(60, 68, 70, 0.3); */
  --other-bg-color: rgba(70, 142, 175, 0.2);
  --text: rgb(161, 119, 95);
  --texthover: rgb(110, 91, 79);
}

body {
  background-color: var(--main-bg-color);
  font-family: "Lora", serif;
  font-weight: 100;
  color: var(--text);
}

.container {
  text-align: center;
  /* max-width: 80%; */
}

/*****************************************************************************
Navbar
*****************************************************************************/

.navbar {
  display: flex;
  align-items: baseline;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 100;
  transition: background 700ms;
}

.navbar:hover {
  background: rgba(60, 68, 70, 0.3);
  transition: background 700ms;
  /* color: rgb(120, 192, 225); */
}

.navbar.scrolled {
  background: rgba(60, 68, 70, 0.8);
  transition: background 1400ms;
  color: rgb(161, 119, 95);
}

.navbar-link-brand {
  color:var(--text);
  /* text-shadow: 1px 1px black; */
  font-weight: 300;
  font-size: 2.5rem;
  float: left;
}

.navbar-link-brand:hover {
  color: var(--texthover);
}

.navbar-items {
  display: flex;
}

.nav-link {
  padding-right: 14px;
  color:var(--text);
  /* text-shadow: 1px 1px 1px black; */
  font-weight: 100;
}

.nav-link:hover {
  text-shadow: 1px black;
  transition: 1s text-shadow;
  color: var(--texthover);
}

.nav-link-toggle {
  display: none;
}

.navbar-items-right {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .navbar-items,
  .navbar {
    flex-direction: column;
  }
  .navbar-items {
    display: none;
  }
  .navbar-items-right {
    margin-left: 0;
  }
  .nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar-toggle-show {
    display: flex;
    justify-content: end;
  }
  .navbar-link-brand {
    padding: initial;
  }
  .nav-link {
    color: white;
  }
}

i {
  color: var(--text);
}

i:hover {
  color: lightblue;
}

/*****************************************************************************
Gallery
*****************************************************************************/

.card-img-overlay {
  color: white;
  visibility: visible;
}

.card-title {
  justify-content: baseline;
}

.card {
  border: none;
  margin-top: 20px;
  /* height: 22rem; */
  /* width: 22rem; */
  margin: auto;
  margin-top: 50px;
}

.card:hover {
  cursor: pointer;
  /* box-shadow: 1px 1px 1px 1px black; */
  transition: opacity 700ms;
}
.card-text {
  color: black;
}

.card div {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 1s, background-color 1s;
  text-align: right;
  align-items: baseline;
}
.card:hover div {
  visibility: visible;
  opacity: 0.5;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 1s, visibility 1, background-color 1s;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*****************************************************************************
Footer
*****************************************************************************/

.footer {
  text-align: center;
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
  /* background: rgba(60, 68, 70, 0.2); */
  padding-bottom: 10px;
  background-color:var(--main-bg-color);
  font-size: 0.8rem;
}

.row {
  margin-bottom: 0px;
  margin-top: 0px;
}

/*****************************************************************************
Contact Form
*****************************************************************************/

.form {
  align-items: flex-start;
  padding-top: 300px;
}

.form-group {
  text-shadow: 4px black;
}

input,
textarea {
  background: rgb(255, 255, 255, 0.5);
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 1px black;
}

.contact {
  background-image: url("/images/KR12.jpg");
  background-size: cover;
  background-position: center 59%;
  height: 500px;
}

.contact-form {
  padding-top: 20px;
  background-color:var(--main-bg-color);
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
}

.btn {
  background-color: var(--text);
  border: none;
  border-radius: 5px;
}

/*****************************************************************************
Hero
*****************************************************************************/

.hero {
  background-image: url("/images/KR28.jpg");
  background-size: cover;
  background-position: 48% center;
  height: 800px;
}

/*****************************************************************************
About
*****************************************************************************/

.bio {
  background-image: url("/images/KR32.jpg");
  background-size: cover;
  padding-top: 150px;
  height: 100vh;
}

.bio-text {
  color: black;
  background-color: rgb(255, 255, 255, 0.8);
  height: 500px;
  border-radius: 10px;
  overflow: scroll;
  padding: 1px 1px;
}

.short-bio {
  background-color:var(--main-bg-color);
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
}

/*****************************************************************************
Videos
*****************************************************************************/

.video {
  background-color:var(--main-bg-color);
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
  width: 100%;
}

.videos {
  position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

iframe {
  margin: 0;
  padding: 0;
  border: none;
  width: value;
  height: value;
}

/*****************************************************************************
Hr
*****************************************************************************/

hr {
  border: none;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-color: inherit;
  overflow: visible;
  text-align: center;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(70, 142, 175, 0.5), rgba(70, 142, 175, 0.2), rgba(70, 142, 175, 0.2));
  background-image: -moz-linear-gradient(left, rgba(70, 142, 175, 0.5), rgba(70, 142, 175, 0.2), rgba(70, 142, 175, 0.2));
  background-image: -ms-linear-gradient(left, rgba(70, 142, 175, 0.5), rgba(70, 142, 175, 0.2), rgba(70, 142, 175, 0.2));
  background-image: -o-linear-gradient(left, rgba(70, 142, 175, 0.5), rgba(70, 142, 175, 0.2), rgba(70, 142, 175, 0.2));
}

.audio {
  padding-top: 30px;
  background-color:var(--main-bg-color);
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
}

.testimonials {
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
  background-color:var(--main-bg-color);
  padding-bottom: 20px;
}

.gallery {
  /* background: linear-gradient(90deg, rgba(60, 68, 70, 0.4), white); */
  background-color:var(--main-bg-color);
  padding-top: 40px;
  padding-bottom: 40px;
}

figure {
  margin: 0;
}

.row {
  align-items: center;
}

/*****************************************************************************
Blog
*****************************************************************************/

.blog-post {
  text-align: center;
  justify-content: center;
  margin: auto;
}

/*****************************************************************************
Lessons page
*****************************************************************************/

.lessons-container {
  margin-left: 0;
  display: flex;
}

.lesson-option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

/* .lesson-container {
  flex-basis: ;
} */

.color {
  background: linear-gradient(90deg, white, rgb(235,235,235), white);
  height: 54px;
}

#lesson-img {
  flex-basis: auto;
  height: auto;
  display: block;
  max-width: 50%;
}

.lesson-type {
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .lesson-type {
    width: auto;
  }
  #lesson-img {
    max-width: 100%;
    height: auto;
  }
  .lessons-container {
    display: block;
  }
  .name {
    visibility: hidden;
  }
  .lesson-option {
    margin-top: 10vh;
  }
}